@page "/profile/mycompetitions"
@model MyCompetitionsModel
@{
    Layout = null;
}

<h2>Moja natjecanja:</h2>
@if (Model.UserCompetitions.Any())
{
    <ul>
        @foreach (var competition in Model.UserCompetitions)
        {
            <li>
                @competition.Id: 
                <span>(@string.Join(", ", competition.Teams.Split(',').Where(t => t.Trim() != "BYE")))</span>
            </li>
        }
    </ul>
}
else
{
    <p>Nisi kreirao niti jedno natjecanje.</p>
}
<a href="/profile">Povratak na profilnu stranicu</a>