@page
@model TournamentCreatedModel
@{
    Layout = null;
}

<h2>Napravljen novi turnir, prijavljene ekipe su:</h2>

@if (Model.LatestCompetition != null)
{
    var teamsList = Model.LatestCompetition.Teams.Split(',').ToList();

    <ul>
        @foreach (var team in teamsList)
        {
            <li>@team</li>
        }
    </ul>
    
    <h3>Details</h3>
    <table class="table">
        <tbody>
            <tr>
                <td>Bodovi za pobjedu</td>
                <td>@Model.LatestCompetition.VictoryPoints</td>
            </tr>
            <tr>
                <td>Bodovi za nerješeno</td>
                <td>@Model.LatestCompetition.DrawPoints</td>
            </tr>
            <tr>
                <td>Bodovi za poraz</td>
                <td>@Model.LatestCompetition.DefeatPoints</td>
            </tr>
        </tbody>
    </table>
    
    <h3>Raspored Utakmica</h3>
    @if (Model.Schedule.Any())
    {
        <form method="post" asp-page-handler="SaveOutcomes">
            <ol>
                @foreach (var round in Model.Schedule)
                {
                    <li>
                        <ul>
                            @foreach (var match in round)
                            {
                                var team1 = teamsList[match.Item1 - 1];
                                var team2 = teamsList[match.Item2 - 1];
                                <li>
                                    @team1 vs @team2 

                                    @if (team1 != "BYE" && team2 != "BYE")
                                    {
                                        <select name="outcomes[@(match.Item1-1)_@(match.Item2-1)]">
                                            <option value="Draw">Draw</option>
                                            <option value="Team1Win">@team1 Wins</option>
                                            <option value="Team2Win">@team2 Wins</option>
                                        </select>

                                        var winner = Model.GetWinnerByTeams(team1, team2);
                                        if (!string.IsNullOrEmpty(winner) && winner != "Draw")
                                        {
                                            <span> Winner: @winner </span>
                                        }
                                    }
                                </li>
                            }
                        </ul>
                    </li>
                }
            </ol>
            <button type="submit">Save Outcomes</button>
        </form>
    }
    else
    {
        <p>Raspored nije još kreiran.</p>
    }
}
else
{
    <p>No recent tournaments found for the user.</p>
}

<a href="/profile">Povratak na profilnu stranicu</a>
