@page "/profile"
@model UserProfileModel
@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <title>UserProfile</title>
</head>
<body>
    <h1>Welcome, @Model.Username!</h1>
    <div><a href="/profile/createcompetition">Napravi novo natjecanje</a></div>
    <div><a href="/profile/mycompetitions">Moja natjecanja</a></div>
    <div><a href="/logout">Log out</a></div>
</body>
</html>
