@page "/profile"
@model UserProfileModel
@{
    Layout = null; 
}

<!DOCTYPE html>
<html>
<head>
    <title>UserProfile</title>
</head>
<body>
    <h1>Welcome, @Model.Username!</h1>
    <a href="/profile/createcompetition">Napravi novo natjecanje</a>
</body>
<body>
<a href="/logout">Log out</a>
</body>
<body>
<a href="/profile/mycompetitions">Moja natjecanja</a>
</body>

</html>